biblemulticonverter-schemas/src/main/resources/usfx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2005-2014 SIL, EBT, and eBible.org. Released under the Gnu Lesser Public License or the Common Public License as explained in http://eBible.org/usfx/LICENSING.txt. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="unqualified" vc:minVersion="1.0" vc:maxVersion="1.1"
	xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">
	<xs:element name="usfx">
		<xs:annotation>
			<xs:documentation>XML representation of Unified Standard Format Markup Scripture files. This schema is intended for use with Holy Bible files only. This schema is copyright 2005-2006 EBT and SIL; released under the Gnu Lesser Public License or the Common Public License, as explained in LICENSING.txt.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="languageCode" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Three-letter Ethnologue code or two-letter ISO language code, optionally followed by a dialect indicator.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="rem" type="xs:string" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Remark or comment, not for publication.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="book" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>This element contains one book of the Bible or optionally some front or back matter. The id attribute is for the three-letter code for this book of the Bible (or FRT for front matter and BAK for back matter).</xs:documentation>
					</xs:annotation>
					<xs:complexType mixed="true">
						<xs:sequence minOccurs="0">
							<xs:element name="id" minOccurs="0">
								<xs:annotation>
									<xs:documentation>From the \id marker line. The first three characters of the contents of this element MUST be the three-letter code for this book of the Bible (or FRT for front matter and BAK for back matter).</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="id" type="xs:string" use="required"
											/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="ide" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Encoding of the corresponding USFM file. (Encoding of this XML file is given in the XML header.)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="charset" type="xs:string"
												use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:choice minOccurs="0" maxOccurs="unbounded">
								<xs:element name="rem" type="xs:string" minOccurs="0"
									maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Remark or comment, not for publication, such as notes about translation status.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="h" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Short book name for a running header, like "Matthew".</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute name="level" type="xs:unsignedByte"
												use="optional"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="cl" type="xs:string" minOccurs="0"
									maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Chapter label, like "Chapter" or "Psalm" in the target language. If used like this, this label should be placed before any chapter start labels. If cl occurs after a chapter start tag, it is the exact text to display for that chapter's heading (i. e. for displaying a chapter number in words instead of numerals or for an alternate numbering system besides Arabic/Latin).</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="p" type="pType" minOccurs="0"
									maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>The p element contains not only the \p marker's contents, but also every kind of paragraph and heading or title. If this is used for something other than \p, then the sfm attribute MUST be set to indicate which kind of paragraph, or heading is intended. Headings, and paragraphs are in the same group because they all correspond to paragraphs in a word processing document. This element includes \ps, \psi, and \nb. Note that some common paragraph elements (q, d, and s) could have been included in this element, too, but have their own element tags for convenience in manual editing of the XML.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="q" type="pType" minOccurs="0"
									maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Poetry line "paragraph"</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="mt" type="pType" minOccurs="0"
									maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>The main title of a book of the Bible, such as "The Good News According to Matthew"</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="d" type="pType" minOccurs="0"
									maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Descriptive title of a Psalm (Hebrew title)</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="s" type="pType" minOccurs="0"
									maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Section heading (not part of the Scripture text).</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="sectionBoundary" minOccurs="0"
									maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>This marker is a place to encode proposed markers such as \pub, \pref, \conc, \glo, \idx, \cov, \spine, \and environment markers. </xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute name="sfm" type="xs:string"
												use="required"/>
												<xs:attribute name="level" type="xs:unsignedByte"
												use="optional"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="b" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Blank line between stanzas of poetry; not to be used before or after a section header. This element should be empty.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute name="sfm" type="xs:string"
												use="optional"/>
												<xs:attribute name="style" type="xs:string"
												use="optional"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="generated" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>This element surrounds content generated from other elements. This tag and its contents is discarded when converting back to USFM.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string"/>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="c" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Chapter starting point. It contains the chapter number, possibly with a chapter name designator, NOT the whole chapter. The chapter number itself should be specified in the id attribute, and is used to generate the contents of the tag, if empty. If not empty, it may be used for the displayed form of the chapter designator in the vernacular language.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute name="id" type="xs:string"
												use="optional"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element maxOccurs="unbounded" minOccurs="0" name="ca"
									type="xs:string">
									<xs:annotation>
										<xs:documentation>Alternate chapter designation for this chapter starting point. It contains the chapter number, possibly with a chapter name designator, NOT the whole chapter. The chapter number itself is in the contents of this element.</xs:documentation>
									</xs:annotation>
								</xs:element>

								<xs:element maxOccurs="unbounded" minOccurs="0" name="toc"
									type="styledString">
									<xs:annotation>
										<xs:documentation>Table of contents entry in the vernacular: level 1 = long title; level 2 = short title; level 3 = abbreviation</xs:documentation>
									</xs:annotation>

								</xs:element>
								<xs:element maxOccurs="unbounded" minOccurs="0" name="milestone">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute ref="sfm" use="required"/>
												<xs:attribute ref="level"/>
												<xs:attribute name="attribute" type="xs:string"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="table" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Table (i. e. for tables of weights and measures in helps).</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:choice maxOccurs="unbounded">
											<xs:element name="tr" minOccurs="0"
												maxOccurs="unbounded">
												<xs:annotation>
												<xs:documentation>Row</xs:documentation>
												</xs:annotation>
												<xs:complexType>
												<xs:choice minOccurs="0" maxOccurs="unbounded">
												<xs:element name="th" type="pType" minOccurs="0"
												maxOccurs="unbounded">
												<xs:annotation>
												<xs:documentation>Table column heading</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="thr" type="pType" minOccurs="0"
												maxOccurs="unbounded">
												<xs:annotation>
												<xs:documentation>Table column heading, right aligned</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="tc" type="pType" minOccurs="0"
												maxOccurs="unbounded">
												<xs:annotation>
												<xs:documentation>Table column entry within this row. The level attribute gives the position of the column.</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="tcr" type="pType" minOccurs="0"
												maxOccurs="unbounded">
												<xs:annotation>
												<xs:documentation>Table column entry, right justified. The level attribute gives the position of the column.</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:choice>
												</xs:complexType>
											</xs:element>
										</xs:choice>
									</xs:complexType>
								</xs:element>
								<xs:element maxOccurs="unbounded" minOccurs="0" name="periph"
									type="xs:string"/>
								<xs:element name="v" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>The v element contains the verse starting point, NOT the verse itself. The contents of this element are generated automatically from the id attribute, and may be just a verse number or verse range, possibly with formatting information (like bold and superscript).</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute name="id" type="xs:string"
												use="required"/>
												<xs:attribute name="bcv">
												<xs:simpleType>
												<xs:restriction base="xs:string">
												<xs:pattern
												value="[\p{Lu}\d][\p{Lu}\d][\p{Lu}\d]\.\d+(\.\d+)?(\-(([\p{Lu}\d][\p{Lu}][\p{Lu}\d]\.)?\d+\.)?\d+)?"
												/>
												</xs:restriction>
												</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="vp" type="xs:string"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="ve" type="xs:string" maxOccurs="unbounded"
									minOccurs="0">
									<xs:annotation>
										<xs:documentation>ve is used as a milestone element marking the end of a verse. Content, if any, is treated as a comment. It should be placed just after the last of the canonical text of a verse, but before any subtitles or headers associated with the next verse.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="cp" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Chapter starting point. It contains the chapter number, possibly with a chapter name designator, NOT the whole chapter. The chapter number itself should be specified in the id attribute, and is used to generate the contents of the tag, if empty. If not empty, it may be used for the displayed form of the chapter designator in the vernacular language.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute name="id" type="xs:string"
												use="required"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="f" minOccurs="0" maxOccurs="unbounded"
									type="noteContents">
									<xs:annotation>
										<xs:documentation>Footnote</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:choice>
						</xs:sequence>
						<xs:attribute name="id" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="ide" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Encoding of the corresponding USFM file. (Encoding of this XML file is given in the XML header.)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="charset" type="xs:string" use="optional"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="pType" mixed="true">
		<xs:annotation>
			<xs:documentation>This type consists of the mixed text and tags that can appear inside any paragraph.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="c" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This element contains the chapter starting point MARKER, NOT the chapter itself. The chapter is assumed to end at the beginning of the next chapter or at the end of the book element. The marker is normally generated from the id attribute, overwriting whatever this element contained before.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="id" type="xs:string" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="v" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The v element contains the verse starting point, NOT the verse itself. The contents of this element are generated automatically from the id attribute, and may be just a verse number or verse range, possibly with formatting information (like bold and superscript).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="id" type="xs:string" use="required"/>
							<xs:attribute name="bcv">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern
											value="[\p{Lu}\d][\p{Lu}\d][\p{Lu}\d]\.\d+(\.\d+)?(\-(([\p{Lu}\d]\p{Lu}[\p{Lu}\d]\.)?\d+\.)?\d+)?"
										/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="vp" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ve" type="xs:string" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ve is used as a milestone element marking the end of a verse. Content, if any, is treated as a comment. It should be placed just after the last of the canonical text of a verse, but before any subtitles or headers associated with the next verse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qt" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quoted text; Old Testament quotes in the New Testament or other quoted text, such as Jesus' direct quotes. The who attribute may be used to distinguish between these, but USFM makes no distinction. This markup may result in a different character formatting.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nd" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Name of Diety: used only to mark God's proper name or a translation of this Name. This may result in special character formatting, such as small caps.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tl" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Transliterated or foreign words.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="milestone" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This marker can be used to encode any standard format marker not corresponding to a specific element with its own name. This should only be used if there is no other suitable element to use for your application within this schema.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="sfm" type="xs:string" use="required"/>
							<xs:attribute name="level" type="xs:unsignedByte" use="optional"/>
							<xs:attribute name="attribute" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ca" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Alternate chapter numbering scheme chapter start marker</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="id" type="xs:string" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="cp" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Published chapter marker, which may be used to override the numeric marker generated from the c element.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="id" type="xs:string" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="va" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Alternate verse number (starting point).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vp" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Published verse marker (starting point); overrides marker generated from v id attribute.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qs" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Special marking for "Selah." in the target language. This may cause right alignment of this word or phrase in an otherwise left-aligned or fully justified paragraph, or may have no effect.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qac" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This is intended to mark the first character of a line of acrostic poetry, which may result in the letter being rendered in bold face or may have no effect.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="table" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Table (i. e. for tables of weights and measures in helps).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice maxOccurs="unbounded">
						<xs:element name="tr" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Row</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:choice minOccurs="0" maxOccurs="unbounded">
									<xs:element name="th" type="pType" minOccurs="0"
										maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Table column heading</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="thr" type="pType" minOccurs="0"
										maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Table column heading, right aligned</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tc" type="pType" minOccurs="0"
										maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Table column entry within this row. The level attribute gives the position of the column.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tcr" type="pType" minOccurs="0"
										maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Table column entry, right justified. The level attribute gives the position of the column.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="generated" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This element contains material that was automatically generated from another marker, such as drop cap actual implementation at the start of verse 1 from an earlier \c tag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="f" minOccurs="0" maxOccurs="unbounded" type="noteContents">
				<xs:annotation>
					<xs:documentation>Footnote</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ef" minOccurs="0" maxOccurs="unbounded" type="noteContents">
				<xs:annotation>
					<xs:documentation>Extended Footnote</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fm" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Manually designated footnote mark -- NOT RECOMMENDED FOR USE.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x" minOccurs="0" maxOccurs="unbounded" type="noteContents">
				<xs:annotation>
					<xs:documentation>Crossreference: a footnote used just to indicate a crossreference. It may be positioned differently than footnotes designated with f, and it may use different calling sequences than f does.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ex" minOccurs="0" maxOccurs="unbounded" type="noteContents">
				<xs:annotation>
					<xs:documentation>Extended crossreference: a footnote used just to indicate a crossreference. It may be positioned differently than footnotes designated with f, and it may use different calling sequences than f does.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sls" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Passage of text based on a secondary language source. For example, places where the source text is in Aramaic and not Hebrew could be optionally rendered with a different type style.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dc" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Omit in editions not containing the Deuterocanon. Deuterocanonical/LXX additions or insertions in the Protocanonical text. May optionally be rendered differently.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bk" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quoted book title; may toggle italics setting in introductory material.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pn" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Proper name; may map to a character style or be ignored.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="k" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Keyword-- may map to a character style or be ignored.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ord" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ordinal number ending; may be superscripted and underlined.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="add" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional material; supplied words to make sense in a target language when the translation style is very literal. This would be used to mark the italics in the KJV, for example.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sig" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Signature of the author of an epistle, such as "Greetings from Paul." This may or may not be rendered differently.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bd" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Bold; not recommended for use.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="it" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Italic; not recommended for use.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdit" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Bold Italic; not recommended for use. Note that character styles do not stack. Only one may apply at a time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sc" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Smallcap text; not recommended for use. Use nd or other appropriate element instead.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="no" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Normal text within other formatting: not recommended for use.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fig" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Figure suggestion for illustrations, figures, and maps. The subelements of this element must appear in the order given, as they appear in this order within one \fig ... \fig* container, separated with vertical bars (|).</xs:documentation>
				</xs:annotation>
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:element name="description" type="xs:string">
							<xs:annotation>
								<xs:documentation>Picture description in English.  This material does not show up on the printed page.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="catalog" type="xs:string">
							<xs:annotation>
								<xs:documentation>Picture file name. (Used to be a catalog picture reference field, but now it is used for the file name of the acutal picture.)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="size" type="xs:string">
							<xs:annotation>
								<xs:documentation>Picture size for calculation only (not printed).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="location" type="xs:string">
							<xs:annotation>
								<xs:documentation>Picture location/range Book, chapter, and verse (not printed).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="copyright" type="xs:string">
							<xs:annotation>
								<xs:documentation>Picture copyright info (printed)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="caption" type="xs:string">
							<xs:annotation>
								<xs:documentation>Picture caption to be printed.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="reference" type="xs:string">
							<xs:annotation>
								<xs:documentation>Picture reference (book, chapter, and verse) to be printed.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ndx" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Index entry-- not printed as part of the text.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="w" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Word level attributes, usually Greek/Hebrew lemma</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="pType">
							<xs:attribute name="s" type="xs:string">
								<xs:annotation>
									<xs:documentation>Used to indicate the Strong's number of a word. Hebrew words are prefixed with "H" and Greek with "G".
</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="plural" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>If the word form is plural, "plural" may be set to "true". If the word form is singular, "plural" must not be set to "true".</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="l" type="xs:string">
								<xs:annotation>
									<xs:documentation>Lemma (root word for lexicon entry of the enclosed word)</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="m" type="xs:string">
								<xs:annotation>
									<xs:documentation>Morphology tag using Dr. Maurice Robinson's scheme, explained at http://byztxt.com/download/PARSINGS.TXT and mirrored at http://eBible.org/usfx/parsings.txt.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="srcloc" type="xs:string">
								<xs:annotation>
									<xs:documentation>Source location, like "gnt5:51.1.2.1" for GNT version 5 text, book 51, chapter 1, verse 2, word 1.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="wh" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Hebrew word list entry-- not printed as part of the text.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wg" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Greek word list entry-- not printed as part of the text.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wr" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Worldlist/glossary/dictionary reference. This word is to appear in the word list.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="quoteStart" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This element does not map to any USFM element directly, but its contents do. Its purpose is to facilitate conversion to/from OSIS, XSEM, or similar markup. This corresponds to an OSIS q element with an sID attribute, except that this element contains exactly the quotation punctuation intended by the translator, and which is copied directly into USFM text. It is used in combination with quoteEnd and quoteRemind. All conformant USFX readers are expected to simply use the contents of this element (normally a quotation mark) as part of the text, unless that reader is part of a process to generate or regenerate quotation marks from markup. When converting from OSIS or XSEM, it is the duty of the converting process to supply the correct quotation punctuation, if any, and put it in the contents of this element. When generating or regenerating quotation punctuation from markup, the existing contents of this element are discarded and replaced with the correct punctuation. If the who attribute is set to "Jesus" the import process may optionally generate \wj markup, as well.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="who" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="quoteRemind" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This element contains automatically generated open quote reminders at paragraph beginnings. It would normally be generated automatically from quoteStart and quoteEnd elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="quoteEnd" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This element ends the most recent un-ended quotation started with quoteStart. This is not a USFM equivalent code, but exists to facilitate conversion to/from OSIS. See the comments for quoteStart for usage.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ior" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Introduction outline references range character style</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wj" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Words of Jesus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cs" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Character style</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fs" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Footnote hyperlink start-- not part of USFM, but equivalent to the GBF RB tag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wtp" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This is a milestone (normally empty) element that indicates that the previous word (usually "you" or a verb with an implied "you") is addressed to more than one person. Not in USFM. Equivalent to GBF WTP.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="sfm" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="da" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Milestone marker to indicate that the immediately previously mentioned person (name or pronoun) is being addressed directly (first person). Used for some semiautomatic translation applications. Not in USFM; equivalent to GBF WTf.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="sfm" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="cl" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Chapter label, like "Chapter" or "Psalm" in the target language. If used, this label should be placed before any chapter start labels.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="optionalLineBreak"
				type="xs:string">
				<xs:annotation>
					<xs:documentation>Discretionary, optional line break (for a preferred place to break a line in a title, heading, or poetry line). This is the exact equivalent of the USFM "//" mark, and should be inserted as a milestone with no content.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ref" type="refType" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Scripture reference in the format TLA.c.v, where TLA is the SIL/UBS three letter abbreviation for the book, c is the chapter number, and v is the verse number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="rq" type="pType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="em" type="pType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="periph" type="xs:string"/>
			<xs:element name="rem" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="xt" type="noteContents"/>
			<xs:element name="gw">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="root"/>
							<xs:attribute ref="sfm"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="level" type="xs:unsignedByte" use="optional"/>
		<xs:attribute name="sfm" type="xs:string" use="optional"/>
		<xs:attribute name="style" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="styledString" mixed="true">
		<xs:annotation>
			<xs:documentation>This type consists of the mixed text and tags that can appear in a string such as a title.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="qt" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quoted text; Old Testament quotes in the New Testament or other quoted text, such as Jesus' direct quotes. The who attribute may be used to distinguish between these, but USFM makes no distinction. This markup may result in a different character formatting.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nd" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Name of Diety: used only to mark God's proper name or a translation of this Name. This may result in special character formatting, such as small caps.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tl" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Transliterated or foreign words.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qac" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This is intended to mark the first character of a line of acrostic poetry, which may result in the letter being rendered in bold face or may have no effect.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="f" minOccurs="0" maxOccurs="unbounded" type="noteContents">
				<xs:annotation>
					<xs:documentation>Footnote</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ef" minOccurs="0" maxOccurs="unbounded" type="noteContents">
				<xs:annotation>
					<xs:documentation>Extended Footnote</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="x" minOccurs="0" maxOccurs="unbounded" type="noteContents">
				<xs:annotation>
					<xs:documentation>Crossreference: a footnote used just to indicate a crossreference. It may be positioned differently than footnotes designated with f, and it may use different calling sequences than f does.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ex" minOccurs="0" maxOccurs="unbounded" type="noteContents">
				<xs:annotation>
					<xs:documentation>Extended crossreference: a footnote used just to indicate a crossreference. It may be positioned differently than footnotes designated with f, and it may use different calling sequences than f does.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sls" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Passage of text based on a secondary language source. For example, places where the source text is in Aramaic and not Hebrew could be optionally rendered with a different type style.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dc" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Omit in editions not containing the Deuterocanon. Deuterocanonical/LXX additions or insertions in the Protocanonical text. May optionally be rendered differently.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bk" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quoted book title; may toggle italics setting in introductory material.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pn" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Proper name; may map to a character style or be ignored.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="k" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Keyword-- may map to a character style or be ignored.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ord" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ordinal number ending; may be superscripted and underlined.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="add" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional material; supplied words to make sense in a target language when the translation style is very literal. This would be used to mark the italics in the KJV, for example.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bd" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Bold; not recommended for use.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="it" type="styledString" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Italic; not recommended for use.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdit" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Bold Italic; not recommended for use. Note that character styles do not stack. Only one may apply at a time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sc" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Smallcap text; not recommended for use. Use nd or other appropriate element instead.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fig" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Figure suggestion for illustrations, figures, and maps. The subelements of this element must appear in the order given, as they appear in this order within one \fig ... \fig* container, separated with vertical bars (|).</xs:documentation>
				</xs:annotation>
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:element name="description" type="xs:string">
							<xs:annotation>
								<xs:documentation>Picture description in English.  This material does not show up on the printed page.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="catalog" type="xs:string">
							<xs:annotation>
								<xs:documentation>Picture file name. (Used to be a catalog picture reference field, but now it is used for the file name of the acutal picture.)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="size" type="xs:string">
							<xs:annotation>
								<xs:documentation>Picture size for calculation only (not printed).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="location" type="styledString">
							<xs:annotation>
								<xs:documentation>Picture location/range Book, chapter, and verse (not printed).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="copyright" type="xs:string">
							<xs:annotation>
								<xs:documentation>Picture copyright info (printed)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="caption" type="styledString">
							<xs:annotation>
								<xs:documentation>Picture caption to be printed.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="reference" type="styledString">
							<xs:annotation>
								<xs:documentation>Picture reference (book, chapter, and verse) to be printed.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ndx" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Index entry-- not printed as part of the text.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="w" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Word list entry-- not printed as part of the text.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="pType">
							<xs:attribute name="s" type="xs:string">
								<xs:annotation>
									<xs:documentation>Used to indicate the Strong's number of a word. Hebrew words are prefixed with "H" and Greek with "G".
</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="plural" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>If the word form is plural, "plural" may be set to "true". If the word form is singular, "plural" must not be set to "true".</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="l" type="xs:string">
								<xs:annotation>
									<xs:documentation>Lemma (root word for lexicon entry of the enclosed word)</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="m" type="xs:string">
								<xs:annotation>
									<xs:documentation>Morphology tag using Dr. Maurice Robinson's scheme, explained at http://byztxt.com/download/PARSINGS.TXT and mirrored at http://eBible.org/usfx/parsings.txt.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="wh" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Hebrew word list entry-- not printed as part of the text.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wg" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Greek word list entry-- not printed as part of the text.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wr" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Worldlist/glossary/dictionary reference. This word is to appear in the word list.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wj" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Words of Jesus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cs" type="pType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Character style</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fs" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Footnote hyperlink start-- not part of USFM, but equivalent to the GBF RB tag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wtp" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This is a milestone (normally empty) element that indicates that the previous word (usually "you" or a verb with an implied "you") is addressed to more than one person. Not in USFM. Equivalent to GBF WTP.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="sfm" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="da" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Milestone marker to indicate that the immediately previously mentioned person (name or pronoun) is being addressed directly (first person). Used for some semiautomatic translation applications. Not in USFM; equivalent to GBF WTf.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="sfm" type="xs:string" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="optionalLineBreak"
				type="xs:string">
				<xs:annotation>
					<xs:documentation>Discretionary, optional line break (for a preferred place to break a line in a title, heading, or poetry line). This is the exact equivalent of the USFM "//" mark, and should be inserted as a milestone with no content.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ref" type="refType" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Scripture reference in the format TLA.c.v, where TLA is the SIL/UBS three letter abbreviation for the book, c is the chapter number, and v is the verse number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="em" type="pType"/>
			<xs:element name="rem" type="xs:string"/>
		</xs:choice>
		<xs:attribute name="level" type="xs:unsignedByte" use="optional"/>
		<xs:attribute name="sfm" type="xs:string" use="optional"/>
		<xs:attribute name="style" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:attribute name="level" type="xs:string"/>
	<xs:attribute name="sfm" type="xs:string"/>
	<xs:attribute name="style" type="xs:string"/>
	<xs:complexType name="refType" mixed="true">
		<xs:annotation>
			<xs:documentation>Bible passage reference specification. Attributes are src for source (i. e. the verse this reference is in, like "MAT.1.23"), and tgt for the target (i. e. the verse or range of verses this reference is pointing to, like "ISA.7.14" or "ISA.7.14-ISA.7.15"), and web for an Internet URL, like "http://eBible.org/web/webfaq.htm". Only one of tgt or web should be specified. An least one of these three attributes should be specified. Text string content of the element is the human-readable vernacular reference to be displayed, like "Mt. 1:23" or "Matthew 1:23".
</xs:documentation>
		</xs:annotation>
		<xs:attribute form="qualified" name="src" type="verseID"/>
		<xs:attribute name="tgt">
			<xs:simpleType>
				<xs:restriction base="verseID">
					<xs:pattern
						value="[\p{Lu}\d][\p{Lu}\d][\p{Lu}\d]\.\d+(\.\d+)?(\-(([\p{Lu}\d]\p{Lu}[\p{Lu}\d]\.)?\d+\.)?\d+)?"
					/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="web" type="xs:anyURI"/>
	</xs:complexType>
	<xs:complexType mixed="true" name="noteContents">
		<xs:choice maxOccurs="unbounded">
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ref" type="refType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="nd" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="c" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="tl" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="it" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="qt" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="sls" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="dc" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="bdit" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="bk" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="pn" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="k" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ord" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="add" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="bd" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="sc" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="wh" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="wg" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="wr" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="wj" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="cs" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="optionalLineBreak"
				type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="em" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="fp" type="noteContents"/>
			<xs:element minOccurs="0" name="fr" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="fk" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="fq" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="fqa" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="fl" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="fdc" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="fv" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ft" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="fm" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="xo" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="xk" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="xq" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="xt" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="xot" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="xnt" type="noteContents"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="xdc" type="noteContents"/>
		</xs:choice>
		<xs:attribute default="+" name="caller" type="xs:string"/>
		<xs:attribute ref="sfm"/>
	</xs:complexType>
	<xs:simpleType name="verseID">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="[\p{Lu}\d][\p{Lu}\d][\p{Lu}\d]\.\d+(\.\d+)?(\-(([\p{Lu}\d]\p{Lu}[\p{Lu}\d]\.)?\d+\.)?\d+)?"
			/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
