biblemulticonverter-schemas/src/main/resources/usx3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
USX 3.0.2 XSD schema. This schema is less strict than the original schema that is writing in Relax NG, due to the fact
that XSD is less feature rich.

This file was created by transforming the usx.rnc file from ubsicap/usx to XSD using Trang, then it was manually
adjusted by Rolf Smit to fix Unique Particle Attribution violations.

usx.rnc version used:
https://github.com/ubsicap/usx/blob/3b83f8307bda014ee4aa3aaf09b11bf5d4a13995/schema/usx.rnc

Trang version used: trang-20181222
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="usx">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="book"/>
                <xs:choice maxOccurs="unbounded">
                    <xs:element ref="para"/>
                    <xs:element ref="table"/>
                    <xs:element ref="chapter"/>
                    <xs:element ref="note"/>
                    <xs:element ref="sidebar"/>
                    <xs:element ref="periph"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="version" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="3"/>
                        <xs:pattern value="\d+\.\d+(\.\d+)?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="book">
        <xs:complexType mixed="true">
            <xs:attribute name="code" use="required" type="BookCode"/>
            <xs:attribute name="style" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="id"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="para">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="ref"/>
                <xs:element ref="note"/>
                <xs:element ref="char"/>
                <xs:element ref="figure"/>
                <xs:element ref="verse"/>
                <xs:element ref="optbreak"/>
                <xs:element ref="ms"/>
            </xs:choice>
            <xs:attribute name="style" use="required" type="ParaStyle"/>
            <xs:attribute ref="vid"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="table">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="row"/>
            </xs:sequence>
            <xs:attribute ref="vid"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="row">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="verse"/>
                <xs:element ref="cell"/>
            </xs:choice>
            <xs:attribute name="style" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="tr"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="cell">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="note"/>
                <xs:element ref="char"/>
                <xs:element ref="figure"/>
                <xs:element ref="verse"/>
                <xs:element ref="optbreak"/>
                <xs:element ref="ms"/>
            </xs:choice>
            <xs:attribute name="style" use="required" type="CellStyle"/>
            <xs:attribute name="align" use="required" type="CellAlign"/>
            <xs:attribute name="colspan" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- Combination of CrossReferenceChar, FootnoteChar, Char, ListChar, VerseChar, IntroChar -->
    <xs:element name="char">
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="ref"/>
                <xs:element ref="char"/>
                <xs:element ref="note"/>
                <xs:element ref="optbreak"/>
                <xs:element ref="ms"/>
            </xs:choice>
            <xs:attribute name="style" use="required" type="CharStyle"/>
            <xs:attribute name="closed" type="xs:boolean"/>
            <xs:attribute name="lemma" type="NonEmptyOrBlankString"/>
            <xs:attribute name="strong" type="NonEmptyOrBlankString"/>
            <xs:attribute name="srcloc" type="NonEmptyOrBlankString"/>
            <xs:attribute name="link-href">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern
                                value="(.*///?(.*/?)+)|((prj:[A-Za-z\-0-9]{3,8} )?[A-Z1-4]{3} \d+:\d+(\-\d+)?)|(#[^\s]+)"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="link-title" type="xs:string"/>
            <xs:attribute name="link-id">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[\p{L}_\-\.:]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="chapter">
        <xs:complexType>
            <!-- These attributes are required when a chapter milestone is used to mark the start of a chapter -->
            <xs:attribute name="number" type="xs:integer"/>
            <xs:attribute name="style">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="c"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="sid" type="ChapterIdentification"/>

            <!-- These attributes are optional when a chapter milestone is used to mark the start of a chapter -->
            <xs:attribute name="altnumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:pattern value="[0-9]+\p{L}?(‏?[\-,][0-9]+\p{L}?)*"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="pubnumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>

            <!-- This attribute is required when a chapter milestone is used to mark the end of a chapter -->
            <xs:attribute name="eid" type="ChapterIdentification"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="verse">
        <xs:complexType>

            <!-- These attributes are required when a verse milestone is used to mark the start of a verse -->
            <xs:attribute name="number">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:pattern value="[0-9]+\p{L}?(‏?[\-,][0-9]+\p{L}?)*"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="style">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="v"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="sid" type="VerseIdentification"/>

            <!-- These attributes are optional when a verse milestone is used to mark the start of a verse -->
            <xs:attribute name="altnumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:pattern value="[0-9]+\p{L}?(‏?[\-,:][0-9]+\p{L}?)*"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="pubnumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>

            <!-- This attribute is required when a verse milestone is used to mark the end of a verse -->
            <xs:attribute name="eid" type="VerseIdentification"/>

        </xs:complexType>
    </xs:element>

    <!-- Combination of CrossReference & Footnote -->
    <xs:element name="note">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="char"/>
            </xs:sequence>
            <xs:attribute name="style" use="required" type="NoteStyle"/>
            <xs:attribute name="caller" use="required"/>
            <xs:attribute name="category"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="ref">
        <xs:complexType mixed="true">
            <xs:attribute name="loc" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Z1-4]{3} ?[a-z0-9\-,:]*"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="sidebar">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="para"/>
                <xs:element ref="table"/>
                <xs:element ref="note"/>
            </xs:choice>
            <xs:attribute name="style" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="esb"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="category"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="figure">
        <xs:complexType mixed="true">
            <!--
            The original Relax NG schema file does not give any restriction on the style attribute however the
            documentation for USX 3.0 seems to suggest that only `fig` is allowed here. To not deviate from the Relax NG
            schema too much I did not change this.
            -->
            <xs:attribute name="style" use="required"/>
            <xs:attribute name="alt"/>
            <xs:attribute name="file" use="required"/>
            <xs:attribute name="size"/>
            <xs:attribute name="loc"/>
            <xs:attribute name="copy"/>
            <xs:attribute name="ref"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="optbreak">
        <xs:complexType/>
    </xs:element>

    <xs:element name="periph">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="para"/>
                <xs:element ref="table"/>
                <xs:element ref="note"/>
                <xs:element ref="chapter"/>
                <xs:element ref="sidebar"/>
            </xs:choice>
            <xs:attribute name="id" use="required">
                <xs:simpleType>
                    <xs:union memberTypes="PeripheralFrtId PeripheralIntId PeripheralBakId PeripheralOthId">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value="x\-[\p{L}_\-\.:]+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:union>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="alt"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="ms">
        <xs:complexType>
            <xs:attribute name="style" use="required" type="MilestoneStyle"/>
            <xs:attribute name="sid">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[\p{L}_\-\.:]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="eid">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[\p{L}_\-\.:]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="ParaStyle">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ide"/>
            <xs:enumeration value="h"/>
            <xs:enumeration value="h1"/>
            <xs:enumeration value="h2"/>
            <xs:enumeration value="h3"/>
            <xs:enumeration value="toc1"/>
            <xs:enumeration value="toc2"/>
            <xs:enumeration value="toc3"/>
            <xs:enumeration value="toca1"/>
            <xs:enumeration value="toca2"/>
            <xs:enumeration value="toca3"/>
            <xs:enumeration value="usfm"/>
            <xs:enumeration value="imt3"/>
            <xs:enumeration value="imt4"/>
            <xs:enumeration value="ib"/>
            <xs:enumeration value="ie"/>
            <xs:enumeration value="ili"/>
            <xs:enumeration value="ili1"/>
            <xs:enumeration value="ili2"/>
            <xs:enumeration value="im"/>
            <xs:enumeration value="imi"/>
            <xs:enumeration value="imq"/>
            <xs:enumeration value="io"/>
            <xs:enumeration value="io1"/>
            <xs:enumeration value="io2"/>
            <xs:enumeration value="io3"/>
            <xs:enumeration value="io4"/>
            <xs:enumeration value="iot"/>
            <xs:enumeration value="ipi"/>
            <xs:enumeration value="ipq"/>
            <xs:enumeration value="ipr"/>
            <xs:enumeration value="iq"/>
            <xs:enumeration value="iq1"/>
            <xs:enumeration value="iq2"/>
            <xs:enumeration value="iq3"/>
            <xs:enumeration value="is"/>
            <xs:enumeration value="is1"/>
            <xs:enumeration value="is2"/>
            <xs:enumeration value="imte"/>
            <xs:enumeration value="imte1"/>
            <xs:enumeration value="imte2"/>
            <xs:enumeration value="mt"/>
            <xs:enumeration value="mt1"/>
            <xs:enumeration value="mt2"/>
            <xs:enumeration value="mt3"/>
            <xs:enumeration value="mt4"/>
            <xs:enumeration value="imt"/>
            <xs:enumeration value="imt1"/>
            <xs:enumeration value="imt2"/>
            <xs:enumeration value="restore"/>
            <xs:enumeration value="cls"/>
            <xs:enumeration value="iex"/>
            <xs:enumeration value="ip"/>
            <xs:enumeration value="lit"/>
            <xs:enumeration value="m"/>
            <xs:enumeration value="mi"/>
            <xs:enumeration value="nb"/>
            <xs:enumeration value="pb"/>
            <xs:enumeration value="pc"/>
            <xs:enumeration value="pi"/>
            <xs:enumeration value="pi1"/>
            <xs:enumeration value="pi2"/>
            <xs:enumeration value="pi3"/>
            <xs:enumeration value="po"/>
            <xs:enumeration value="pr"/>
            <xs:enumeration value="pmo"/>
            <xs:enumeration value="pm"/>
            <xs:enumeration value="pmc"/>
            <xs:enumeration value="pmr"/>
            <xs:enumeration value="q"/>
            <xs:enumeration value="q1"/>
            <xs:enumeration value="q2"/>
            <xs:enumeration value="q3"/>
            <xs:enumeration value="q4"/>
            <xs:enumeration value="qa"/>
            <xs:enumeration value="qc"/>
            <xs:enumeration value="qr"/>
            <xs:enumeration value="qm"/>
            <xs:enumeration value="qm1"/>
            <xs:enumeration value="qm2"/>
            <xs:enumeration value="qm3"/>
            <xs:enumeration value="qd"/>
            <xs:enumeration value="b"/>
            <xs:enumeration value="d"/>
            <xs:enumeration value="ms"/>
            <xs:enumeration value="ms1"/>
            <xs:enumeration value="ms2"/>
            <xs:enumeration value="ms3"/>
            <xs:enumeration value="mr"/>
            <xs:enumeration value="r"/>
            <xs:enumeration value="s"/>
            <xs:enumeration value="s1"/>
            <xs:enumeration value="s2"/>
            <xs:enumeration value="s3"/>
            <xs:enumeration value="s4"/>
            <xs:enumeration value="sr"/>
            <xs:enumeration value="sp"/>
            <xs:enumeration value="sd"/>
            <xs:enumeration value="sd1"/>
            <xs:enumeration value="sd2"/>
            <xs:enumeration value="sd3"/>
            <xs:enumeration value="sd4"/>
            <xs:enumeration value="ts"/>
            <xs:enumeration value="cp"/>
            <xs:enumeration value="cl"/>
            <xs:enumeration value="cd"/>
            <xs:enumeration value="mte"/>
            <xs:enumeration value="mte1"/>
            <xs:enumeration value="mte2"/>
            <xs:enumeration value="p"/>
            <xs:enumeration value="p1"/>
            <xs:enumeration value="p2"/>
            <xs:enumeration value="k1"/>
            <xs:enumeration value="k2"/>
            <xs:enumeration value="rem"/>
            <xs:enumeration value="lh"/>
            <xs:enumeration value="li"/>
            <xs:enumeration value="li1"/>
            <xs:enumeration value="li2"/>
            <xs:enumeration value="li3"/>
            <xs:enumeration value="li4"/>
            <xs:enumeration value="lf"/>
            <xs:enumeration value="lim"/>
            <xs:enumeration value="lim1"/>
            <xs:enumeration value="lim2"/>
            <xs:enumeration value="lim3"/>
            <xs:enumeration value="lim4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CellStyle">
        <xs:restriction base="xs:token">
            <xs:enumeration value="th"/>
            <xs:enumeration value="tc"/>
            <xs:enumeration value="thr"/>
            <xs:enumeration value="tcr"/>
            <xs:enumeration value="thc"/>
            <xs:enumeration value="tcc"/>
            <xs:enumeration value="th1"/>
            <xs:enumeration value="tc1"/>
            <xs:enumeration value="thr1"/>
            <xs:enumeration value="tcr1"/>
            <xs:enumeration value="th2"/>
            <xs:enumeration value="tc2"/>
            <xs:enumeration value="thr2"/>
            <xs:enumeration value="tcr2"/>
            <xs:enumeration value="th3"/>
            <xs:enumeration value="tc3"/>
            <xs:enumeration value="thr3"/>
            <xs:enumeration value="tcr3"/>
            <xs:enumeration value="th4"/>
            <xs:enumeration value="tc4"/>
            <xs:enumeration value="thr4"/>
            <xs:enumeration value="tcr4"/>
            <xs:enumeration value="th5"/>
            <xs:enumeration value="tc5"/>
            <xs:enumeration value="thr5"/>
            <xs:enumeration value="tcr5"/>
            <xs:enumeration value="rem"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CellAlign">
        <xs:restriction base="xs:token">
            <xs:enumeration value="start"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="end"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CharStyle">
        <xs:restriction base="xs:token">
            <xs:enumeration value="fr"/>
            <xs:enumeration value="cat"/>
            <xs:enumeration value="ft"/>
            <xs:enumeration value="fk"/>
            <xs:enumeration value="fq"/>
            <xs:enumeration value="fqa"/>
            <xs:enumeration value="fl"/>
            <xs:enumeration value="fw"/>
            <xs:enumeration value="fp"/>
            <xs:enumeration value="fdc"/>
            <xs:enumeration value="xo"/>
            <xs:enumeration value="xop"/>
            <xs:enumeration value="xta"/>
            <xs:enumeration value="xk"/>
            <xs:enumeration value="xq"/>
            <xs:enumeration value="xot"/>
            <xs:enumeration value="xnt"/>
            <xs:enumeration value="xdc"/>
            <xs:enumeration value="va"/>
            <xs:enumeration value="vp"/>
            <xs:enumeration value="ca"/>
            <xs:enumeration value="qac"/>
            <xs:enumeration value="qs"/>
            <xs:enumeration value="add"/>
            <xs:enumeration value="addpn"/>
            <xs:enumeration value="bk"/>
            <xs:enumeration value="dc"/>
            <xs:enumeration value="efm"/>
            <xs:enumeration value="fm"/>
            <xs:enumeration value="k"/>
            <xs:enumeration value="nd"/>
            <xs:enumeration value="ndx"/>
            <xs:enumeration value="ord"/>
            <xs:enumeration value="pn"/>
            <xs:enumeration value="png"/>
            <xs:enumeration value="pro"/>
            <xs:enumeration value="qt"/>
            <xs:enumeration value="rq"/>
            <xs:enumeration value="sig"/>
            <xs:enumeration value="sls"/>
            <xs:enumeration value="tl"/>
            <xs:enumeration value="wg"/>
            <xs:enumeration value="wh"/>
            <xs:enumeration value="wa"/>
            <xs:enumeration value="wj"/>
            <xs:enumeration value="xt"/>
            <xs:enumeration value="jmp"/>
            <xs:enumeration value="no"/>
            <xs:enumeration value="it"/>
            <xs:enumeration value="bd"/>
            <xs:enumeration value="bdit"/>
            <xs:enumeration value="em"/>
            <xs:enumeration value="sc"/>
            <xs:enumeration value="sup"/>
            <xs:enumeration value="fv"/>
            <xs:enumeration value="litl"/>
            <xs:enumeration value="lik"/>
            <xs:enumeration value="liv"/>
            <xs:enumeration value="liv1"/>
            <xs:enumeration value="liv2"/>
            <xs:enumeration value="liv3"/>
            <xs:enumeration value="liv4"/>
            <xs:enumeration value="liv5"/>
            <xs:enumeration value="ior"/>
            <xs:enumeration value="iqt"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NoteStyle">
        <xs:restriction base="xs:token">
            <xs:enumeration value="f"/>
            <xs:enumeration value="fe"/>
            <xs:enumeration value="ef"/>
            <xs:enumeration value="x"/>
            <xs:enumeration value="ex"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MilestoneStyle">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="ts?(\-[se])?"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[Zz].+"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="BookCode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="GEN"/>
            <xs:enumeration value="EXO"/>
            <xs:enumeration value="LEV"/>
            <xs:enumeration value="NUM"/>
            <xs:enumeration value="DEU"/>
            <xs:enumeration value="JOS"/>
            <xs:enumeration value="JDG"/>
            <xs:enumeration value="RUT"/>
            <xs:enumeration value="1SA"/>
            <xs:enumeration value="2SA"/>
            <xs:enumeration value="1KI"/>
            <xs:enumeration value="2KI"/>
            <xs:enumeration value="1CH"/>
            <xs:enumeration value="2CH"/>
            <xs:enumeration value="EZR"/>
            <xs:enumeration value="NEH"/>
            <xs:enumeration value="EST"/>
            <xs:enumeration value="JOB"/>
            <xs:enumeration value="PSA"/>
            <xs:enumeration value="PRO"/>
            <xs:enumeration value="ECC"/>
            <xs:enumeration value="SNG"/>
            <xs:enumeration value="ISA"/>
            <xs:enumeration value="JER"/>
            <xs:enumeration value="LAM"/>
            <xs:enumeration value="EZK"/>
            <xs:enumeration value="DAN"/>
            <xs:enumeration value="HOS"/>
            <xs:enumeration value="JOL"/>
            <xs:enumeration value="AMO"/>
            <xs:enumeration value="OBA"/>
            <xs:enumeration value="JON"/>
            <xs:enumeration value="MIC"/>
            <xs:enumeration value="NAM"/>
            <xs:enumeration value="HAB"/>
            <xs:enumeration value="ZEP"/>
            <xs:enumeration value="HAG"/>
            <xs:enumeration value="ZEC"/>
            <xs:enumeration value="MAL"/>
            <xs:enumeration value="MAT"/>
            <xs:enumeration value="MRK"/>
            <xs:enumeration value="LUK"/>
            <xs:enumeration value="JHN"/>
            <xs:enumeration value="ACT"/>
            <xs:enumeration value="ROM"/>
            <xs:enumeration value="1CO"/>
            <xs:enumeration value="2CO"/>
            <xs:enumeration value="GAL"/>
            <xs:enumeration value="EPH"/>
            <xs:enumeration value="PHP"/>
            <xs:enumeration value="COL"/>
            <xs:enumeration value="1TH"/>
            <xs:enumeration value="2TH"/>
            <xs:enumeration value="1TI"/>
            <xs:enumeration value="2TI"/>
            <xs:enumeration value="TIT"/>
            <xs:enumeration value="PHM"/>
            <xs:enumeration value="HEB"/>
            <xs:enumeration value="JAS"/>
            <xs:enumeration value="1PE"/>
            <xs:enumeration value="2PE"/>
            <xs:enumeration value="1JN"/>
            <xs:enumeration value="2JN"/>
            <xs:enumeration value="3JN"/>
            <xs:enumeration value="JUD"/>
            <xs:enumeration value="REV"/>
            <xs:enumeration value="TOB"/>
            <xs:enumeration value="JDT"/>
            <xs:enumeration value="ESG"/>
            <xs:enumeration value="WIS"/>
            <xs:enumeration value="SIR"/>
            <xs:enumeration value="BAR"/>
            <xs:enumeration value="LJE"/>
            <xs:enumeration value="S3Y"/>
            <xs:enumeration value="SUS"/>
            <xs:enumeration value="BEL"/>
            <xs:enumeration value="1MA"/>
            <xs:enumeration value="2MA"/>
            <xs:enumeration value="3MA"/>
            <xs:enumeration value="4MA"/>
            <xs:enumeration value="1ES"/>
            <xs:enumeration value="2ES"/>
            <xs:enumeration value="MAN"/>
            <xs:enumeration value="PS2"/>
            <xs:enumeration value="ODA"/>
            <xs:enumeration value="PSS"/>
            <xs:enumeration value="EZA"/>
            <xs:enumeration value="5EZ"/>
            <xs:enumeration value="6EZ"/>
            <xs:enumeration value="DAG"/>
            <xs:enumeration value="PS3"/>
            <xs:enumeration value="2BA"/>
            <xs:enumeration value="LBA"/>
            <xs:enumeration value="JUB"/>
            <xs:enumeration value="ENO"/>
            <xs:enumeration value="1MQ"/>
            <xs:enumeration value="2MQ"/>
            <xs:enumeration value="3MQ"/>
            <xs:enumeration value="REP"/>
            <xs:enumeration value="4BA"/>
            <xs:enumeration value="LAO"/>

            <!-- Peripheral Books -->
            <xs:enumeration value="CNC"/>
            <xs:enumeration value="GLO"/>
            <xs:enumeration value="TDX"/>
            <xs:enumeration value="NDX"/>

            <!-- Peripheral Sections -->
            <xs:enumeration value="XXA"/>
            <xs:enumeration value="XXB"/>
            <xs:enumeration value="XXC"/>
            <xs:enumeration value="XXD"/>
            <xs:enumeration value="XXE"/>
            <xs:enumeration value="XXF"/>
            <xs:enumeration value="XXG"/>
            <xs:enumeration value="FRT"/>
            <xs:enumeration value="BAK"/>
            <xs:enumeration value="OTH"/>
            <xs:enumeration value="INT"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PeripheralFrtId">
        <xs:restriction base="xs:token">
            <xs:enumeration value="title"/>
            <xs:enumeration value="halftitle"/>
            <xs:enumeration value="promo"/>
            <xs:enumeration value="imprimatur"/>
            <xs:enumeration value="pubdata"/>
            <xs:enumeration value="foreword"/>
            <xs:enumeration value="preface"/>
            <xs:enumeration value="contents"/>
            <xs:enumeration value="alphacontents"/>
            <xs:enumeration value="abbreviations"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PeripheralIntId">
        <xs:restriction base="xs:token">
            <xs:enumeration value="intbible"/>
            <xs:enumeration value="intot"/>
            <xs:enumeration value="intpent"/>
            <xs:enumeration value="inthistory"/>
            <xs:enumeration value="intpoetry"/>
            <xs:enumeration value="intprophesy"/>
            <xs:enumeration value="intdc"/>
            <xs:enumeration value="intnt"/>
            <xs:enumeration value="intgospels"/>
            <xs:enumeration value="intepistles"/>
            <xs:enumeration value="intletters"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PeripheralBakId">
        <xs:restriction base="xs:token">
            <xs:enumeration value="chron"/>
            <xs:enumeration value="measures"/>
            <xs:enumeration value="maps"/>
            <xs:enumeration value="lxxquotes"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PeripheralOthId">
        <xs:restriction base="xs:token">
            <xs:enumeration value="cover"/>
            <xs:enumeration value="spine"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Verse identification attribute -->
    <xs:attribute name="vid">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="[A-Z1-4]{3} ?[a-z0-9\-,:]*"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>

    <!-- Chapter identification type -->
    <xs:simpleType name="ChapterIdentification">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="[A-Z1-4]{3} ?[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Verse identification type -->
    <xs:simpleType name="VerseIdentification">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="[A-Z1-4]{3} ?[a-z0-9\-,:]*"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Utility types -->
    <xs:simpleType name="NonEmptyOrBlankString">
        <xs:restriction base="xs:string">
            <xs:pattern value="\S+"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
