biblemulticonverter-schemas/src/main/resources/zef2005.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="XMLBIBLE">
<xsd:annotation>
<xsd:documentation>Das Wurzelelement einer Zefania XML Bibel</xsd:documentation>
<xsd:documentation>The root element of a zefania xml bible modul</xsd:documentation>
<xsd:appinfo>2.0.1.22</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="INFORMATION"/>
<xsd:element maxOccurs="unbounded" ref="BIBLEBOOK"/>
<xsd:element minOccurs="0" ref="STYLESETS"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="APPINFO"/>
</xsd:sequence>
<xsd:attribute name="biblename" type="xsd:string" use="required">
<xsd:annotation>
<xsd:documentation>Der Name der Bibel z.B. Luther 1984</xsd:documentation>
<xsd:documentation>
This attribute holds the name of the bible text e.x. King James
</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="status" type="enumStatus" use="optional">
<xsd:annotation>
<xsd:documentation>
Status des XML Moduls - "v" = Modul ist valid gegen das Schema; "w" = Modul xml ist wellformed aber nicht valid gegen Schema
</xsd:documentation>
<xsd:documentation>
Status of the xml modul - "v" = modul is valid according the schema; "w"= modul is wellformed xml, but not valid against the zef-schema
</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="version" type="xsd:string" use="optional">
<xsd:annotation>
<xsd:documentation>Version der Bible Markup Language z.B. "2.0.1.16"</xsd:documentation>
<xsd:documentation>
Version string of the used Zefania XML-Bible e.x. "2.0.1.16"
</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="revision" type="xsd:integer" use="optional">
<xsd:annotation>
<xsd:documentation>
Bearbeitungsstand des Moduls falls es verbessert wurde.
</xsd:documentation>
<xsd:documentation>Revisions number if the modul was improved.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute default="x-bible" name="type" type="enumModtyp" use="optional">
<xsd:annotation>
<xsd:documentation>Typ des Modulinhaltes</xsd:documentation>
<xsd:documentation>Typ of the modul content</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
</xsd:element>
<xsd:element name="TRANSLATION">
<xsd:complexType mixed="true">
<xsd:attribute name="ID" type="xsd:string"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="STYLESETS">
<xsd:annotation>
<xsd:documentation>Enthält Sets von CSS-Style Strings</xsd:documentation>
<xsd:documentation>Contains sets of css-style strings</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:choice maxOccurs="unbounded">
<xsd:element maxOccurs="unbounded" ref="S"/>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element name="S">
<xsd:annotation>
<xsd:documentation>Ein einzelner CSS-Stylestring</xsd:documentation>
<xsd:documentation>A single css style string</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:attribute name="id" type="TStyleClass" use="required">
<xsd:annotation>
<xsd:documentation>
Identifiziert den CSS-Style String durch eine eindeutige id
</xsd:documentation>
<xsd:documentation>
id that identified the the specific css style string
</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
</xsd:element>
<xsd:element name="APPINFO" type="xsd:anyType"/>
<xsd:element name="BIBLEBOOK">
<xsd:annotation>
<xsd:documentation>Markiert die Grenzen eines Bibelbuches</xsd:documentation>
<xsd:documentation>- Surrounds a single bible book</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:choice maxOccurs="unbounded">
<xsd:element maxOccurs="unbounded" ref="CHAPTER"/>
</xsd:choice>
<xsd:attribute name="bnumber" type="Tvref" use="required">
<xsd:annotation>
<xsd:documentation>
Eine Nummer die das Buch eindeutig identifiziert z.B. "40" entspricht
</xsd:documentation>
<xsd:documentation>
- A number which is unambiguous for a certain bible book
</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="bname" type="xsd:string" use="optional">
<xsd:annotation>
<xsd:documentation>Der Buchname lang z.B. "Genesis"</xsd:documentation>
<xsd:documentation>
- This attribut should hold the book name in long form e.x. "Genesis"
</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="bsname" type="xsd:string" use="optional">
<xsd:annotation>
<xsd:documentation>Der Buchname kurz z.B. "Gen"</xsd:documentation>
<xsd:documentation>
- This attribute holds the book book name in short form e.x. "Gen"
</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
</xsd:element>
<xsd:element name="CHAPTER">
<xsd:annotation>
<xsd:documentation>Markiert die Grenzen eines Bibelkapitels</xsd:documentation>
<xsd:documentation>- Surrounds a single bible chapter</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:choice maxOccurs="unbounded">
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="PROLOG"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="CAPTION"/>
<xsd:element maxOccurs="unbounded" ref="VERS"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="REMARK"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="XREF"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="MEDIA"/>
</xsd:choice>
<xsd:attribute name="cnumber" type="Tvref" use="required"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="VERS">
<xsd:annotation>
<xsd:documentation>Markiert die Grenzen eines Bibelverses</xsd:documentation>
<xsd:documentation>- Surrounds a single bible vers</xsd:documentation>
</xsd:annotation>
<xsd:complexType mixed="true">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element minOccurs="0" ref="GRAM"/>
<xsd:element minOccurs="0" ref="STYLE"/>
<xsd:element minOccurs="0" ref="NOTE"/>
<xsd:element minOccurs="0" ref="DIV"/>
<xsd:element minOccurs="0" ref="BR"/>
<xsd:element minOccurs="0" ref="SUP"/>
<xsd:element minOccurs="0" ref="XREF"/>
</xsd:choice>
<xsd:attribute name="vnumber" type="Tvref" use="required"/>
<xsd:attribute name="enumber" type="Taix" use="optional"/>
<xsd:attribute name="aix" type="Taix" use="optional"/>
<xsd:attribute name="pfr" type="xsd:boolean"/>
<xsd:attribute name="vg" type="xsd:string"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="PROLOG">
<xsd:annotation>
<xsd:documentation>Markiert die Grenzen eines Vorwortes</xsd:documentation>
<xsd:documentation>- Surrounds a prolog text</xsd:documentation>
</xsd:annotation>
<xsd:complexType mixed="true">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element minOccurs="0" ref="STYLE"/>
<xsd:element minOccurs="0" ref="BR"/>
<xsd:element minOccurs="0" ref="GRAM"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="XREF"/>
<xsd:element minOccurs="0" ref="SUP"/>
</xsd:choice>
<xsd:attribute name="vref" type="Tvref" use="required"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="MEDIA" type="TMedia"/>
<xsd:element name="CAPTION">
<xsd:annotation>
<xsd:documentation>Markiert eine Überschrift</xsd:documentation>
<xsd:documentation>- Surrounds a single caption</xsd:documentation>
</xsd:annotation>
<xsd:complexType mixed="true">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element minOccurs="0" ref="STYLE"/>
<xsd:element minOccurs="0" ref="BR"/>
<xsd:element minOccurs="0" ref="GRAM"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="XREF"/>
<xsd:element minOccurs="0" ref="SUP"/>
</xsd:choice>
<xsd:attribute name="vref" type="Tvref" use="required">
<xsd:annotation>
<xsd:documentation>Die Versnummer vor der die Caption steht</xsd:documentation>
<xsd:documentation>vers number to which the caption belongs to</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="count" type="Tvref" use="optional">
<xsd:annotation>
<xsd:documentation>Anzahl der Verse, die die CAPTION umfasst</xsd:documentation>
<xsd:documentation>count verses which the caption includes</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="type" type="enumCaptionType" use="optional">
<xsd:annotation>
<xsd:documentation>header level enumeration x-h1 bis x-h6</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="mscope" type="TScope" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="REMARK">
<xsd:annotation>
<xsd:documentation>Markiert eine Anmerkung</xsd:documentation>
<xsd:documentation>Surrounds a single reamark</xsd:documentation>
</xsd:annotation>
<xsd:complexType mixed="true">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element minOccurs="0" ref="STYLE"/>
<xsd:element minOccurs="0" ref="BR"/>
<xsd:element minOccurs="0" ref="GRAM"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="XREF"/>
<xsd:element minOccurs="0" ref="SUP"/>
</xsd:choice>
<xsd:attribute name="vref" type="Tvref" use="required"/>
<xsd:attribute name="art" type="xsd:string" use="optional"/>
<xsd:attribute name="aix" type="Taix" use="optional"/>
<xsd:attribute name="mscope" type="TScope" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="NOTE">
<xsd:annotation>
<xsd:documentation>Markiert eine eingebaute Notiz</xsd:documentation>
<xsd:documentation>Surrounds a inbuild note</xsd:documentation>
</xsd:annotation>
<xsd:complexType mixed="true">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="STYLE"/>
<xsd:element minOccurs="0" ref="BR"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="GRAM"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="XREF"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" ref="SUP"/>
</xsd:choice>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="XREF">
<xsd:annotation>
<xsd:documentation>Markiert Querverweise</xsd:documentation>
<xsd:documentation>Surrounds a inbuild cross reference</xsd:documentation>
</xsd:annotation>
<xsd:complexType mixed="true">
<xsd:attribute name="vref" type="Tvref" use="optional"/>
<xsd:attribute name="aix" type="Taix" use="optional"/>
<!--Zusatzinformation zum Querverweis-->
<xsd:attribute name="title" use="optional"/>
<!--In fscope steht eine Bibelstellen angabe in Klartext z.B. -->
<!--1Mo 11,27; 17,5; Gal 3,16-->
<xsd:attribute name="fscope" type="xsd:string" use="optional"/>
<!--In mscope steht eine maschinenlesbare Darstelllung-->
<!--vergl:http://forum.mybible.de/viewtopic.php?p=3495 -->
<xsd:attribute name="mscope" type="TScope" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="GRAM">
<xsd:annotation>
<xsd:documentation>Markiert grammatische Informationen</xsd:documentation>
<xsd:documentation>
Surrounds a word or a phrase and holds grammatical information in its attributs for the surrounded text
</xsd:documentation>
</xsd:annotation>
<xsd:complexType mixed="true">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="GRAM"/>
<xsd:element ref="STYLE"/>
<xsd:element minOccurs="0" ref="BR"/>
<xsd:element minOccurs="0" ref="SUP"/>
</xsd:choice>
<xsd:attribute name="woa" use="optional">
<xsd:annotation>
<xsd:documentation>Die Wortart</xsd:documentation>
</xsd:annotation>
<!--Die Wortart-->
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<!-- g-xyz Grammatik Attributwerte fuer deutsche Texte-->
<xsd:enumeration value="g-subst">
<xsd:annotation>
<xsd:documentation>Substantiv</xsd:documentation>
</xsd:annotation>
<!--Substantiv-->
</xsd:enumeration>
<xsd:enumeration value="g-adj">
<xsd:annotation>
<xsd:documentation>Adjektiv</xsd:documentation>
</xsd:annotation>
<!--Adjektiv-->
</xsd:enumeration>
<xsd:enumeration value="g-verb">
<xsd:annotation>
<xsd:documentation>Verb</xsd:documentation>
</xsd:annotation>
<!--Verb-->
</xsd:enumeration>
<xsd:enumeration value="g-art">
<xsd:annotation>
<xsd:documentation>Artikel</xsd:documentation>
</xsd:annotation>
<!--Artikel-->
</xsd:enumeration>
<xsd:enumeration value="g-pro">
<xsd:annotation>
<xsd:documentation>Pronomen</xsd:documentation>
</xsd:annotation>
<!--Pronomen-->
</xsd:enumeration>
<xsd:enumeration value="g-adv">
<xsd:annotation>
<xsd:documentation>Adverb</xsd:documentation>
</xsd:annotation>
<!--Adverb-->
</xsd:enumeration>
<xsd:enumeration value="g-pre">
<xsd:annotation>
<xsd:documentation>Preposition</xsd:documentation>
</xsd:annotation>
<!--Preposition-->
</xsd:enumeration>
<xsd:enumeration value="g-par">
<xsd:annotation>
<xsd:documentation>Partikel</xsd:documentation>
</xsd:annotation>
<!--Partikel-->
</xsd:enumeration>
<xsd:enumeration value="g-konj">
<xsd:annotation>
<xsd:documentation>Konjunktion</xsd:documentation>
</xsd:annotation>
<!--Konjunktion-->
</xsd:enumeration>
<xsd:enumeration value="g-num">
<xsd:annotation>
<xsd:documentation>Numerale</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<!-- grc-xyz Grammatik Attributwerte fuer griechische Texte-->
<xsd:enumeration value="grc-verb">
<!--Verb-->
</xsd:enumeration>
<xsd:enumeration value="grc-subst">
<!--Substantiv-->
</xsd:enumeration>
<xsd:enumeration value="grc-adj">
<!--Adjektiv-->
</xsd:enumeration>
<xsd:enumeration value="grc-art">
<!--Artikel-->
</xsd:enumeration>
<xsd:enumeration value="grc-pro">
<!--Pronomen-->
</xsd:enumeration>
<xsd:enumeration value="grc-adv">
<!--Adverb-->
</xsd:enumeration>
<xsd:enumeration value="grc-pre">
<!--Preposition-->
</xsd:enumeration>
<xsd:enumeration value="grc-par">
<!--andere Partikel-->
</xsd:enumeration>
<xsd:enumeration value="grc-konj">
<!--Konjunktion-->
</xsd:enumeration>
<xsd:enumeration value="grc-subj">
<!--Subjunktionen-->
</xsd:enumeration>
<xsd:enumeration value="grc-num">
<!---->
</xsd:enumeration>
<xsd:enumeration value="grc-int">
<!--interjektionen-->
</xsd:enumeration>
<xsd:enumeration value="grc-neg">
<!--Negationen-->
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<!--Die Wortart-->
</xsd:attribute>
<xsd:attribute name="gen" use="optional">
<xsd:annotation>
<xsd:documentation>Das grammatikalische Geschlecht</xsd:documentation>
</xsd:annotation>
<!--Geschlecht-->
<!---->
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="g-mask">
<xsd:annotation>
<xsd:documentation>Maskulinum</xsd:documentation>
</xsd:annotation>
<!--Maskulinum-->
</xsd:enumeration>
<xsd:enumeration value="g-fem">
<xsd:annotation>
<xsd:documentation>Femininum</xsd:documentation>
</xsd:annotation>
<!--Femininum-->
</xsd:enumeration>
<xsd:enumeration value="g-neut">
<xsd:annotation>
<xsd:documentation>Neutrum</xsd:documentation>
</xsd:annotation>
<!--Neutrum-->
</xsd:enumeration>
<xsd:enumeration value="grc-mask">
<!--Maskulinum-->
</xsd:enumeration>
<xsd:enumeration value="grc-fem">
<!--Femininum-->
</xsd:enumeration>
<xsd:enumeration value="grc-neut">
<!--Neutrum-->
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="kas" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="g-nom">
<xsd:annotation>
<xsd:documentation>Nominativ</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="g-akk">
<xsd:annotation>
<xsd:documentation>Akkusativ</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="g-dat">
<xsd:annotation>
<xsd:documentation>Dativ</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="g-gen">
<xsd:annotation>
<xsd:documentation>Genitiv</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="grc-nom">
<!--Nominativ-->
</xsd:enumeration>
<xsd:enumeration value="grc-gen">
<!--Genitiv-->
</xsd:enumeration>
<xsd:enumeration value="grc-dat">
<!--Dativ-->
</xsd:enumeration>
<xsd:enumeration value="grc-akk">
<!--Akkusativ-->
</xsd:enumeration>
<xsd:enumeration value="grc-vok">
<!--Vokativ-->
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<!--Der Fall-->
</xsd:attribute>
<xsd:attribute name="inf" type="xsd:string" use="optional">
<xsd:annotation>
<xsd:documentation>Grundform/Lemma</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="tmp" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="g-pres">
<xsd:annotation>
<xsd:documentation>Presens</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="g-pret">
<xsd:annotation>
<xsd:documentation>Praeteritum</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="g-fut1">
<xsd:annotation>
<xsd:documentation>Futur 1</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="g-perf">
<xsd:annotation>
<xsd:documentation>Perfekt</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="g-plqp">
<xsd:annotation>
<xsd:documentation>Plusquamperfekt</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="g-fut2">
<xsd:annotation>
<xsd:documentation>Futur 2</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="grc-pres"/>
<xsd:enumeration value="grc-aor"/>
<xsd:enumeration value="grc-perf"/>
<xsd:enumeration value="grc-fut"/>
<xsd:enumeration value="grc-plqp"/>
<xsd:enumeration value="grc-ipf"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="prs" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="grc-1"/>
<xsd:enumeration value="grc-2"/>
<xsd:enumeration value="grc-3"/>
</xsd:restriction>
</xsd:simpleType>
<!--Person-->
</xsd:attribute>
<xsd:attribute name="diat" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="grc-akt"/>
<xsd:enumeration value="grc-med"/>
<xsd:enumeration value="grc-pass"/>
<xsd:enumeration value="grc-mp"/>
</xsd:restriction>
</xsd:simpleType>
<!--Diathese / Genus Verbi-->
</xsd:attribute>
<xsd:attribute name="sta" type="xsd:string" use="optional"/>
<xsd:attribute name="mod" use="optional">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="g-ind">
<xsd:annotation>
<xsd:documentation>Indikativ</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="g-konj">
<xsd:annotation>
<xsd:documentation>Konjunktiv</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="g-imp">
<xsd:annotation>
<xsd:documentation>Imperativ</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="grc-ind"/>
<xsd:enumeration value="grc-konj"/>
<xsd:enumeration value="grc-imp"/>
<xsd:enumeration value="grc-opt"/>
<xsd:enumeration value="grc-inf"/>
<xsd:enumeration value="grc-ptz"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="str" type="xsd:string" use="optional">
<xsd:annotation>
<xsd:documentation>Strongnummer</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="rmac" type="xsd:string" use="optional">
<xsd:annotation>
<xsd:documentation>Robinsons Morphological Analysis Codes</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
</xsd:element>
<xsd:element abstract="false" name="STYLE">
<xsd:annotation>
<xsd:documentation>Markiert css-Formatierungen.</xsd:documentation>
</xsd:annotation>
<xsd:complexType mixed="true">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="STYLE"/>
<xsd:element ref="GRAM"/>
<xsd:element ref="SUP"/>
</xsd:choice>
<xsd:attribute name="css" type="Tcss" use="optional">
<xsd:annotation>
<xsd:documentation>css-String</xsd:documentation>
<xsd:documentation>http://www.css4you.de/</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="id" type="TStyleClass" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="SUP">
<xsd:annotation>
<xsd:documentation>Markiert eine Höher/Tieferstellung</xsd:documentation>
</xsd:annotation>
<xsd:complexType mixed="true">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element ref="STYLE"/>
<xsd:element ref="GRAM"/>
</xsd:choice>
<xsd:attribute name="art" type="enumSup" use="required"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="DIV">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="NOTE"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BR">
<xsd:complexType>
<xsd:attribute name="art" type="enumBreak" use="required"/>
<xsd:attribute name="count" type="Tvref" use="optional"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="INFORMATION">
<xsd:annotation>
<xsd:documentation>vergl:http://dublincore.org/documents/dces/</xsd:documentation>
</xsd:annotation>
<xsd:complexType mixed="false">
<xsd:choice maxOccurs="unbounded" minOccurs="0">
<xsd:element name="title" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Titel des Moduls</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="unbounded" name="creator" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Der Hersteller des Moduls</xsd:documentation>
<xsd:documentation>
Im Falle mehrerer Personen / Organisationen ist jede weitere in einem zusätzlichen Meta-Element aufzuführen.
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="unbounded" name="description" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Eine Beschreibung des Inhaltes</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="unbounded" name="publisher" type="xsd:string">
<xsd:annotation>
<xsd:documentation>
Die Vertriebsorganisation des ModulsVerleger, Herausgeber, Universität etc
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="subject" type="xsd:string">
<xsd:annotation>
<xsd:documentation>
Notationen zum Thema des Dokuments, mehrere getrennt durch ","
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element maxOccurs="unbounded" name="contributors" type="xsd:string">
<xsd:annotation>
<xsd:documentation>
Name von weiteren beteiligten Personen/Institutionen/Gruppen
</xsd:documentation>
<xsd:documentation>
Zusätzliche Person(en) und Organisation(en) zu jenen, die im Element CREATOR genannt wurden, die einen bedeutsamen intelektuellen Beitrag zur Ressource geleistet haben, deren Beitrag aber sekundär im Verhältnis zu denen im Element CREATOR zu betrachten ist.
</xsd:documentation>
<xsd:documentation>
Im Falle mehrerer Personen / Organisationen ist jede weitere in einem zusätzlichen Meta-Element aufzuführen.
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="date" type="xsd:date">
<xsd:annotation>
<xsd:documentation>Das Datum Format:YYYY-MM-DD</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element minOccurs="0" name="type" type="xsd:string"/>
<xsd:element fixed="Zefania XML Bible Markup Language" name="format" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Datentechnisches Format des Moduls</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="identifier" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Kennung, die das Modul eindeutig identifiziert</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element minOccurs="0" name="source" type="xsd:string">
<xsd:annotation>
<xsd:documentation>
Werk, gedruckt oder elektronisch, aus dem das vorliegende Dokument stammt
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="language" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Sprache des Inhalts des Moduls</xsd:documentation>
<xsd:documentation>
Sprache(n) des intellektuellen Inhalts der Ressource. Falls möglich sollte der 3-stellige Sprachcode für "geschriebene Sprachen" aus ISO 639 verwendet werden.http://www.w3.org/WAI/ER/IG/ert/iso639.htm
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element minOccurs="0" name="coverage" type="xsd:string"/>
<xsd:element minOccurs="0" name="rights" type="xsd:string">
<xsd:annotation>
<xsd:documentation>
Vorgesehen für den Inhalt dieses Elements ist ein Link (URL oder andere passende URI falls zutreffend) zu einem Urhebervermerk, ein "Rights-Management"-Vermerk über die rechtlichen Bedingungen oder ggf. zu einem Server, der solche Informationen dynamisch erzeugt.
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
</xsd:complexType>
</xsd:element>
<xsd:element name="gr" substitutionGroup="GRAM"/>
<xsd:element name="st" substitutionGroup="STYLE"/>
<xsd:complexType name="TMedia">
<xsd:attribute name="title" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Titel der Mediendatei</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
<xsd:attribute name="type" type="enumMedia">
<xsd:annotation>
<xsd:documentation>audio/video oder ein Bild</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:simpleType name="Tvref">
<xsd:restriction base="xsd:positiveInteger"/>
</xsd:simpleType>
<xsd:simpleType name="Taix">
<xsd:restriction base="xsd:string">
<xsd:pattern value="[a-zA-Z0-9]+"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="Tcss">
<xsd:restriction base="xsd:string"/>
</xsd:simpleType>
<xsd:simpleType name="TScope">
<xsd:annotation>
<xsd:documentation>
Bibelstellennotation siehe:http://forum.mybible.de/viewtopic.php?p=3495
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:pattern value="((\d{1,3}-\d{1,3}|\d{1,3});(\d{1,3}-\d{1,3}|\d{1,3});(\d{1,3}-\d{1,3}|\d{1,3})(\s|$)){1,}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TStyleClass">
<xsd:restriction base="xsd:string">
<xsd:pattern value="cl:[a-zA-Z0-9]*"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="enumSup">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="x-sup">
<xsd:annotation>
<xsd:documentation>Höherstellung</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="x-sub">
<xsd:annotation>
<xsd:documentation>Tieferstellung</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="enumStatus">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="v">
<xsd:annotation>
<xsd:documentation>Modul ist valid gegen Schema</xsd:documentation>
<xsd:documentation>Modul is valid again the schema</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="w">
<xsd:annotation>
<xsd:documentation>Modul ist wellformed</xsd:documentation>
<xsd:documentation>Modul is wellformed xml</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="enumMedia">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="m-video"/>
<xsd:enumeration value="m-audio"/>
<xsd:enumeration value="m-picture"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="enumBreak">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="x-nl">
<xsd:annotation>
<xsd:documentation>Neue Zeile (new line)</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="x-p">
<xsd:annotation>
<xsd:documentation>Neuer Absatz ( new paragraph)</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="enumModtyp">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="x-bible">
<xsd:annotation>
<xsd:documentation>christliche Bibel</xsd:documentation>
<xsd:documentation>christian bible text</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="x-quran">
<xsd:annotation>
<xsd:documentation>Korantext</xsd:documentation>
<xsd:documentation>text is a quran</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="x-mormon">
<xsd:annotation>
<xsd:documentation>Das Buch Mormom</xsd:documentation>
<xsd:documentation>Mormon bible</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="x-other">
<xsd:annotation>
<xsd:documentation>nicht bekannte Zuordnung</xsd:documentation>
<xsd:documentation>type is not assignable</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="x-cult">
<xsd:annotation>
<xsd:documentation>Kult allgemein</xsd:documentation>
<xsd:documentation>tex is from a cult like Jehovah's Witnesses</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="enumCaptionType">
<xsd:annotation>
<xsd:documentation>Aufzählung für Überschriftenlevel</xsd:documentation>
<xsd:documentation>Enumeration of header levels</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="x-h1"/>
<xsd:enumeration value="x-h2"/>
<xsd:enumeration value="x-h3"/>
<xsd:enumeration value="x-h4"/>
<xsd:enumeration value="x-h5"/>
<xsd:enumeration value="x-h6"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>